<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- <bean name="speakerRepo" class="aloha.spring.repo.StubSpeakerRepoImpl" /> -->

    <!-- The bean name must align with the name of injection setter -->
    <bean name="repo" class="aloha.spring.repo.StubSpeakerRepoImpl" />

    <!-- <bean name="speakerService" class="aloha.spring.service.SpeakerServiceImpl" autowire="constructor"> -->
    <!-- <bean name="speakerService" class="aloha.spring.service.SpeakerServiceImpl" autowire="byType"> -->
    <bean name="speakerService" class="aloha.spring.service.SpeakerServiceImpl" autowire="byName">
        <!-- <property name="repo" ref="speakerRepo" /> -->
        <!-- <constructor-arg index="0" ref="speakerRepo"></constructor-arg> -->
    </bean>

</beans>